__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
.venv
db.sqlite3
*.sqlite3
.git
.gitignore
.DS_Store
*.log
*.pot
*.mo
node_modules/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.vscode/
.idea/
*.swp
*.swo
*~
